<h1>Articles Listing Page</h1>

<table>
 <thead>
 <tr>   
 <th>Title</th>
 <th>Description</th>
 <th colspan="3">Actions</th>
 </tr>
 </thead>
  
<tbody> 
<% @articles.each do |article| %> 
<tr>    
<td><%= article.title %></td>
<td><%= article.description %></td>

<td><button><%= link_to 'Show', article_path(article), method: :show %></button></td>   
<td><button><%= link_to 'Edit', edit_article_path(article), method: :edit %></button></td>
<td><%= button_to 'Delete', article_path(article), method: :delete,  onclick: "return confirm('Are you sure?')" %></td>
</tr>              
<% end %>
</tbody>
</table>

<br>
<button>
<%= link_to 'Add new post', new_article_path %>
</button>